Regular Expressions Assignment 01/04/2024

Q1.Write a Python program to replace all occurrences of a space, comma, or dot with a
colon.

In [1]:
def fn(text):
    for char in [' ', ',', '.']:
        text = text.replace(char, ':')
    return text

ip_text = input("Enter a string with space comma and dot: ")
op_text = fn(ip_text)
op_text

Enter a string with space comma and dot: 'Python Exercises, PHP exercises.'

"'Python:Exercises::PHP:exercises:'"

Q2. Create a dataframe using the dictionary below and remove everything (commas (,), !,
XXXX, ;, etc.) from the columns except words.

In [7]:
import pandas as pd
import re

data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(data)
df['SUMMARY'] = df['SUMMARY'].apply(lambda x: re.sub(r'[^\w\s]', '', x))
df

            SUMMARY
0       hello world
1        XXXXX test
2  123four five six

Q3.Create a function in python to find all words that are at least 4 characters long in a
string. The use of the re.compile() method is mandatory.

In [9]:
import re

def find_long_words(text):
    pattern = re.compile(r'\b\w{4,}\b')
    return pattern.findall(text)
input_text = "This is a sample string with some long words like Python, regular expressions, and programming."
long_words = find_long_words(input_text)
print("Long words found:", long_words)

Long words found: ['This', 'sample', 'string', 'with', 'some', 'long', 'words', 'like', 'Python', 'regular', 'expressions', 'programming']

Q4.Create a function in python to find all three, four, and five character words in a string.
The use of the re.compile() method is mandatory.

In [10]:
import re
def find_words(text):
    
    pattern = re.compile(r'\b\w{3,5}\b')
    return pattern.findall(text)

input_text = "This is a sample string with words of various lengths like cat, dog, Python, and tiger."
words = find_words(input_text)
print("Words found:", words)

Words found: ['This', 'with', 'words', 'like', 'cat', 'dog', 'and', 'tiger']

Q5.Create a function in Python to remove the parenthesis in a list of strings. The use of the
re.compile() method is mandatory.

In [17]:
import re

def remove_parenthesis(strings):
    pattern = re.compile(r'\([^)]*\)')  # Compile regex pattern to match anything inside parentheses
    return [pattern.sub('', string) for string in strings]
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
result = remove_parenthesis(sample_text)


for string in result:
    print(string)

example
hr@fliprobo
github
Hello
Data

Q6.Write a python program to remove the parenthesis area from the text stored in the text
file using Regular Expression.

In [23]:
import re

def remove_parenthesis(text):
    pattern = re.compile(r'\([^)]*\)')
    return pattern.sub('', text) 
def remove_parenthesis_from_file(input_file, output_file):
    try:
        with open(input_file, 'r') as file:
            text = file.read()
        modified_text = remove_parenthesis(text)
        with open(output_file, 'w') as file:
            file.write(modified_text)
        print("Parenthesis area removed and written to", output_file)
    except FileNotFoundError:
        print("File not found.")
input_file = "input.txt"
output_file = "output.txt" 

remove_parenthesis_from_file(input_file, output_file)

Parenthesis area removed and written to output.txt

Q7.Write a regular expression in Python to split a string into uppercase letters.

In [27]:
import re

text = "ImportanceOfRegularExpressionsInPython"
uppercase_letters = re.findall('[A-Z][a-z]*', text)

uppercase_letters

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Q8.Create a function in python to insert spaces between words starting with numbers.

In [28]:
import re

def insert_spaces(text):
    modified_text = re.sub(r'(\d)([a-zA-Z])', r'\1 \2', text)
    return modified_text

input_text = "RegularExpression1IsAn2ImportantTopic3InPython"
modified_text = insert_spaces(input_text)
print("Modified text:", modified_text)

Modified text: RegularExpression1 IsAn2 ImportantTopic3 InPython

Q9.Create a function in python to insert spaces between words starting with capital letters
or with numbers.

In [29]:
import re

def insert_spaces(text):

    modified_text = re.sub(r'(?<=[a-z])([A-Z0-9])|(?<=\D)(\d)', r' \1\2', text)
    return modified_text

input_text = "RegularExpression1IsAn2ImportantTopic3InPython"
modified_text = insert_spaces(input_text)
print("Modified text:", modified_text)

Modified text: Regular Expression 1Is An 2Important Topic 3In Python

Q10.Use the github link below to read the data and create a dataframe. After creating the
dataframe extract the first 6 letters of each country and store in the dataframe under a new column
called first_five_letters.

In [6]:
import pandas as pd
df = pd.read_csv('q10.csv')
df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,Benin
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,Syria
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,Togo

Q11.Write a Python program to match a string that contains only upper and lowercase
letters, numbers, and underscores.

In [30]:
import re

def is_valid_string(s):
    pattern = r'^[a-zA-Z0-9_]*$'
    if re.match(pattern, s):
        return True
    else:
        return False

strings = ['Hello_World123', 'Abcd123', '123_abc', 'Hello@123', 'spaces not allowed']

for string in strings:
    if is_valid_string(string):
        print(f"'{string}' valid ")
    else:
        print(f"'{string}' not valid")

'Hello_World123' valid
'Abcd123' valid
'123_abc' valid
'Hello@123' not valid
'spaces not allowed' not valid

Q12.Write a Python program where a string will start with a specific number.

In [31]:
import re

def starts_with_number(string, number):
    pattern = r'^' + re.escape(str(number))
    if re.match(pattern, string):
        return True
    else:
        return False

string = "123abc"
number = 123

if starts_with_number(string, number):
    print(f"The string '{string}' starts with the number {number}.")
else:
    print(f"The string '{string}' does not start with the number {number}.")

The string '123abc' starts with the number 123.

Q13.Write a Python program to remove leading zeros from an IP address

In [32]:
import re

def remove_leading_zeros(ip_address):
    pattern = r'\b0+(\d+)\b'
    result = re.sub(pattern, r'\1', ip_address)
    
    return result
ip_address = "192.168.001.001"
new_ip_address = remove_leading_zeros(ip_address)
print("Original IP address:", ip_address)
print("IP address without leading zeros:", new_ip_address)

Original IP address: 192.168.001.001
IP address without leading zeros: 192.168.1.1

Q14.Write a regular expression in python to match a date string in the form of Month name
followed by day number and year stored in a text file.
Sample text : 'On August 15th 1947 that India was declared independent from British colonialism, and
the reins of control were handed over to the leaders of the Country’.
Expected Output- August 15th 1947
Note- Store given sample text in the text file and then extract the date string asked format.

In [34]:
import re

def extract_date_from_text_file(file_path):
    
    with open(file_path, 'r') as file:
        text = file.read()

    pattern = r'\b(January|February|March|April|May|June|July|August|September|October|November|December)\s+\d{1,2}(?:st|nd|rd|th)\s+\d{4}\b'

    match = re.search(pattern, text)

    if match:
        return match.group(0)
    else:
        return "Date string not found in the text."

file_path = 'sample_text.txt'

date_string = extract_date_from_text_file(file_path)
print("Extracted Date:", date_string)

Extracted Date: August 15th 1947

Q15.Write a Python program to search some literals strings in a string.
Sample text : 'The quick brown fox jumps over the lazy dog.
Searched words :'fox','dog','horse'

In [35]:
def search_words(text, words):
    found_words = []
    for word in words:
        if word in text:
            found_words.append(word)
    return found_words

sample_text = 'The quick brown fox jumps over the lazy dog.'

searched_words = ['fox', 'dog', 'horse']

found_words = search_words(sample_text, searched_words)
print("Found words:", found_words)

Found words: ['fox', 'dog']

Q16.Write a Python program to search a literals string in a string and also find the location
within the original string where the pattern occurs
Sample text :'The quick brown fox jumps over the lazy dog.'
Searched words : 'fox'

In [36]:
def search_word_with_location(text, word):
    locations = []
    start = 0
    while True:
        start = text.find(word, start)
        if start == -1:
            break
        locations.append(start)
        start += 1
    return locations

sample_text = 'The quick brown fox jumps over the lazy dog.'

searched_word = 'fox'

word_locations = search_word_with_location(sample_text, searched_word)

if word_locations:
    print(f"The word '{searched_word}' found at location(s): {word_locations}")
else:
    print(f"The word '{searched_word}' not found in the text.")

The word 'fox' found at location(s): [16]

Q17.Write a Python program to find the substrings within a string.
Sample text :Python exercises, PHP exercises, C# exercises'
Pattern : 'exercises'.

In [15]:
import re

def find_substrings(text, pattern):
    substrings = re.findall(pattern, text)
    return substrings

sample_text = 'Python exercises, PHP exercises, C# exercises'

pattern = 'exercises'

matching_substrings = find_substrings(sample_text, pattern)

if matching_substrings:
    print(f"Substrings matching the pattern '{pattern}': {matching_substrings}")
else:
    print(f"No substrings found matching the pattern '{pattern}'.")

Substrings matching the pattern 'exercises': ['exercises', 'exercises', 'exercises']

Q18.Write a Python program to find the occurrence and position of the substrings within a
string.

In [16]:
def find_occurrences(text, substring):
    occurrences = []
    length = len(text)
    index = 0
    while index < length:
        index = text.find(substring, index)
        if index == -1:
            break
        occurrences.append((substring, index))
        index += 1
    return occurrences

sample_text = 'The quick brown fox jumps over the lazy dog.'

substrings = ['fox', 'dog', 'cat']

occurrences = {substring: find_occurrences(sample_text, substring) for substring in substrings}

for substring, positions in occurrences.items():
    if positions:
        print(f"Occurrences of '{substring}':")
        for position in positions:
            print(f"  Position: {position[1]}")
    else:
        print(f"No occurrences of '{substring}' found.")

Occurrences of 'fox':
  Position: 16
Occurrences of 'dog':
  Position: 40
No occurrences of 'cat' found.

Q19.Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy
format.

In [17]:
from datetime import datetime

def convert_date_format(date_str):
   
    date_obj = datetime.strptime(date_str, '%Y-%m-%d')
   
    formatted_date = date_obj.strftime('%d-%m-%Y')
    return formatted_date

date_str = '2024-04-05'
formatted_date = convert_date_format(date_str)
print("Original date (yyyy-mm-dd):", date_str)
print("Formatted date (dd-mm-yyyy):", formatted_date)

Original date (yyyy-mm-dd): 2024-04-05
Formatted date (dd-mm-yyyy): 05-04-2024

Q20.Create a function in python to find all decimal numbers with a precision of 1 or 2 in a
string. The use of the re.compile() method is mandatory.
Sample Text: "01.12013 2.123 2.31875 145.8 3.01 27.25 0.25"
Expected Output: [01.12,145.8,3.01,27.25,0.25]

In [37]:
import re

def find_decimal_numbers(text):
    pattern = re.compile(r'\b\d+\.\d{1,2}\b')
    matches = pattern.findall(text)
    decimal_numbers = [float(match) for match in matches]
    return decimal_numbers

sample_text = "01.12013 2.123 2.31875 145.8 3.01 27.25 0.25"
result = find_decimal_numbers(sample_text)
print("Decimal numbers with precision of 1 or 2:", result)

Decimal numbers with precision of 1 or 2: [145.8, 3.01, 27.25, 0.25]

Q21.Write a Python program to separate and print the numbers and their position of a
given string.

In [19]:
def print_numbers_and_positions(string):
    for i, char in enumerate(string):
        if char.isdigit():
            print(f"Number: {char}, Position: {i + 1}")

sample_string = "abc123def456ghi789"
print("String:", sample_string)
print("Numbers and their positions:")
print_numbers_and_positions(sample_string)

String: abc123def456ghi789
Numbers and their positions:
Number: 1, Position: 4
Number: 2, Position: 5
Number: 3, Position: 6
Number: 4, Position: 10
Number: 5, Position: 11
Number: 6, Position: 12
Number: 7, Position: 16
Number: 8, Position: 17
Number: 9, Position: 18

Q22.Write a regular expression in python program to extract maximum/largest numeric
value from a string.
Sample Text: 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [20]:
import re

def extract_maximum_numeric_value(text):
    
    pattern = r'\d+'
    
    numeric_values = re.findall(pattern, text)
    
    if numeric_values:
    
        max_value = max(map(int, numeric_values))
        return max_value
    else:
        return None

sample_text = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
print("Sample Text:", sample_text)

max_numeric_value = extract_maximum_numeric_value(sample_text)
if max_numeric_value is not None:
    print("Maximum Numeric Value:", max_numeric_value)
else:
    print("No numeric values found in the text.")

Sample Text: My marks in each semester are: 947, 896, 926, 524, 734, 950, 642
Maximum Numeric Value: 950

Q23.Create a function in python to insert spaces between words starting with capital
letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [22]:
import re

def insert_spaces(text):
   
    pattern = r'([A-Z][a-z]*)'
    
    result = re.sub(pattern, r' \1', text).strip()
    return result

sample_text = "RegularExpressionIsAnImportantTopicInPython"
print("Sample Text:", sample_text)

output_text = insert_spaces(sample_text)
print("Output:", output_text)

Sample Text: RegularExpressionIsAnImportantTopicInPython
Output: Regular Expression Is An Important Topic In Python

Q24.Python regex to find sequences of one upper case letter followed by lower case letters

In [23]:
import re

text = "This is a Sample Text With Multiple Sequences of One Uppercase Letter Followed by Lowercase Letters like This, Here, and There."

pattern = r'[A-Z][a-z]+'

matches = re.findall(pattern, text)

print("Matches:", matches)

Matches: ['This', 'Sample', 'Text', 'With', 'Multiple', 'Sequences', 'One', 'Uppercase', 'Letter', 'Followed', 'Lowercase', 'Letters', 'This', 'Here', 'There']

Q25.Write a Python program to remove continuous duplicate words from Sentence using
Regular Expression.
Sample Text: "Hello hello world world"
Expected Output: Hello hello world

In [24]:
import re

def remove_continuous_duplicates(sentence):
   
    cleaned_sentence = re.sub(r'\b(\w+)(\s+\1)+\b', r'\1', sentence, flags=re.IGNORECASE)
    return cleaned_sentence

sample_text = "Hello hello world world"

result = remove_continuous_duplicates(sample_text)

print("Original Sentence:", sample_text)
print("Sentence with Continuous Duplicate Words Removed:", result)

Original Sentence: Hello hello world world
Sentence with Continuous Duplicate Words Removed: Hello world

Q26.Write a python program using RegEx to accept string ending with alphanumeric
character.

In [38]:
import re

def ends_with_alphanumeric(string):

    pattern = r'.*[a-zA-Z0-9]$'
    
    if re.match(pattern, string):
        return True
    else:
        return False

sample_strings = ["abc123", "xyz_", "123", "Hello World!", "alpha2"]

for string in sample_strings:
    if ends_with_alphanumeric(string):
        print(f"'{string}' Accepted.")
    else:
        print(f"'{string}' Not accepted.")

'abc123' Accepted.
'xyz_' Not accepted.
'123' Accepted.
'Hello World!' Not accepted.
'alpha2' Accepted.

Q27-Write a python program using RegEx to extract the hashtags.
Sample Text: """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same
has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [26]:
import re

def extract_hashtags(text):
 
    pattern = r'#\w+'
    
    hashtags = re.findall(pattern, text)
    
    return hashtags

sample_text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same
has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

hashtags = extract_hashtags(sample_text)
print("Extracted Hashtags:", hashtags)

Extracted Hashtags: ['#Doltiwal', '#xyzabc', '#Demonetization']

Q28. Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place.
You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: &quot;@Jags123456 Bharat band on
28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are
all different party leaders&quot;
Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who are protesting
#demonetization are all different party leaders

In [27]:
import re

def remove_unicode_symbols(text):

    pattern = r'<U\+[0-9A-Fa-f]+>'
    
    cleaned_text = re.sub(pattern, '', text)
    
    return cleaned_text

sample_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

cleaned_text = remove_unicode_symbols(sample_text)
print("Cleaned Text:", cleaned_text)

Cleaned Text: @Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

Q29.Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.
Note- Store this sample text in the file and then extract dates.

In [28]:
import re

def extract_dates_from_file(file_path):

    with open(file_path, 'r') as file:
        text = file.read()
   
    date_pattern = r'\b\d{2}-\d{2}-\d{4}\b'
   
    dates = re.findall(date_pattern, text)
    
    return dates

file_path = 'Q29.txt'

dates = extract_dates_from_file(file_path)

print("Extracted Dates:", dates)

Extracted Dates: ['12-09-1992', '15-12-1999']

Q30.Create a function in python to remove all words from a string of length between 2 and
4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements
are then added to the ArrayList and the ArrayList is trimmed accordingly."
Expected Output: following example creates ArrayList a capacity elements. 4 elements added ArrayList
ArrayList trimmed accordingly.

In [29]:
import re

def remove_words_between_length(text):
    word_pattern = re.compile(r'\b\w{2,4}\b')
    
    result = word_pattern.sub('', text)
    
    return result
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

output_text = remove_words_between_length(sample_text)

print("Expected Output:", output_text)

Expected Output:  following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.